<!-- views/babychain.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Chain</title>
</head>

<body>
    <h1>Baby Chain</h1>
    <button onclick="generateNames()">Generate Names</button>
    <ul id="babyNamesList"></ul>

    <script src="../baby_name_gen/markov.js"></script>
    <script src="../baby_name_gen/baby_chain.js"></script>
</body>

</html>